/* ContributionScores.css */
.contributionscores-wrapper             {  }
.contributionscores-title                 { background-color: #aaaaaa; margin-bottom: 0px;}
.contributionscores-tableheadings { background-color: #cccccc; border-bottom: 1px solid #999999; }
.contributionscores-altrow               { background-color: #eeeeee; }